.message {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.iconWrapper {
  padding: 5px;
}
.icon {
  border-radius: 50%;
  background-position: center;
  background-size: 100px;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.box {
  border: 1px solid gray;
  border-radius: 15%;
  padding: 5px 10px;
}

.name {
  color: gray;
}

.text {
  color: black;
}
